<h2>Power Booster</h2>
<p>Super power boost: {{2 | exponentialStrength: 10}}</p>

<hr>

<button (click)="addHero()">Add Hero</button>

<div *ngFor="let hero of (heroes | flyingHeroes)">
  {{hero.name}}
</div>

<hr>

<h2>Async Hero Message and AsyncPipe</h2>
<p>Message: {{ message$ | async }}</p>
<button (click)="resend()">Resend</button>

<hr>

<h2>Heroes from JSON File</h2>

<div *ngFor="let hero of ('assets/heroes.json' | fetchJson) ">
  {{hero.name}}
</div>

<p>Heroes as JSON:
  {{'assets/heroes.json' | fetchJson | json}}
</p>
