<!--
Angular 自动从组件中提取 title 和 myHero 属性的值，并且把这些值插入浏览器中。
当这些属性发生变化时，Angular 就会自动刷新显示。

严格来说，“重新显示”是在某些与视图有关的异步事件之后发生的，例如，按键、定时器完成或对 HTTP 请求的响应。
-->
<h1>{{title}}</h1>

<h2>My favorite hero is: {{myHero}}</h2>
<p>Heroes:</p>

<!--
这个界面使用了由 <ul> 和 <li> 标签组成的无序列表。
<li> 元素里的 *ngFor 是 Angular 的“迭代”指令。
它将 <li> 元素及其子级标记为“迭代模板”：
-->
<ul>
  <li *ngFor="let hero of heroes">
    {{hero.id}} - {{hero.name}}
  </li>
</ul>
<!--
注意看 ngFor 双引号表达式中的 hero，它是一个模板输入变量。

Angular 为列表中的每个条目复制一个 <li> 元素，
在每个迭代中，把 hero 变量设置为当前条目（英雄）。
Angular 把 hero 变量作为双花括号插值表达式的上下文。
-->

<!--
有时，应用需要只在特定情况下显示视图或视图的一部分。
来改一下这个例子，如果多于三位英雄，显示一条消息。
Angular 的 ngIf 指令会根据一个布尔条件来显示或移除一个元素。
来看看实际效果，把下列语句加到模板的底部：
-->
<p *ngIf="heroes.length > 3">更多信息</p>

<!--
双引号中的模板表达式 *ngIf="heros.length > 3"，外观和行为很象 TypeScript 。
当组件中的英雄列表有三个以上的条目时，Angular 把这个段落添加到 DOM 中，于是消息显示了出来。

Angular 并不是在显示和隐藏这条消息，它是在从 DOM 中添加和移除这个段落元素。
这会提高性能，特别是在一些大的项目中有条件地包含或排除一大堆带着很多数据绑定的 HTML 时。
-->
